.container {
  width: 100%;
  padding: 0;
  margin-top: 5px;
}

.toolbar {
  gap: 10px;
  padding: 5px;
  margin: 1px;
  width: calc(100% - 2px);
  height: 25px;
  border-bottom: solid 1px #ccc;
  z-index: 10;
  position: relative;
  top: 40px;
  margin-top: -40px;
  background-color: #fff;
}

.button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Times New Roman';
}

.button:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-height: 150px;
  max-height: 1000px;
  width: calc(100% - 10px);
  white-space: pre-wrap;
  outline: none;
  position: relative;
  padding-top: 45px;
  resize: vertical;
  overflow: auto;
  background-color: #fff;
}

/* Pseudo-element to cover the top part of .content */
.content::before {
  content: '';
  position: fixed;
  top: 6px;
  border-radius: 5px;
  left: 9px;
  width: calc(100% - 20px);
  height: 40px; /* Height of the area to hide */
  background-color: #fff; /* Match the background color of the editor */
  z-index: 2; /* Ensure it's above the content */
}

.content p {
  margin: 0;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.readonly {
  background-color: #f3f3f3;
  cursor: not-allowed;
}

.button[disabled] {
  background: #fafafa;
  color: #a0a0a0;
  border-color: #d0d0d0;
  cursor: not-allowed;
}

.content:focus {
  border-color: rgb(40, 127, 226);
}

.icon {
  margin-bottom: -2px;
  width: 15px;
  height: 15px;
}
