.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toolbar {
  margin-bottom: 10px;
}

.button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #e0e0e0;
}

.button[disabled] {
  background: #ececec;
  color: #a0a0a0;
  border-color: #d0d0d0;
  cursor: not-allowed;
}

.content {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
  width: 95%;
  white-space: pre-wrap;
  outline: none; /* Remove the default focus outline */
}

.content p {
  margin: 0;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.content:focus {
  border-color: #333; /* Darker border when focused */
}

.contentReadonly {
  background-color: #f3f3f3;
  cursor: not-allowed;
}

.icon {
  width: 15px;
  margin-bottom: -2px;
}
