.rt-container, .rt-toolbar, .rt-content, .rt-button, ::after, ::before {
  box-sizing: content-box;
}

.rt-container {
  width: 100%;
  padding: 0;
}

.rt-toolbar {
  padding: 5px;
  margin: 1px;
  width: calc(100% - 2px);
  height: 25px;
  border-bottom: solid 1px #ccc;
  z-index: 10;
  position: relative;
  top: 40px;
  margin-top: -40px;
  background-color: #fff;
}

.rt-button {
  height: 20px;
  width: 20px;
  padding: 2px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Times New Roman';
  line-height: normal;
}

.rt-button:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.rt-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-height: 150px;
  max-height: 1000px;
  width: calc(100% - 10px);
  white-space: pre-wrap;
  outline: none;
  position: relative;
  padding-top: 45px;
  resize: vertical;
  overflow: auto;
  background-color: #fff;
}

/* Pseudo-element to cover the top part of .content */
.rt-content::before {
  content: '';
  position: fixed;
  top: 6px;
  border-radius: 5px;
  left: 9px;
  width: calc(100% - 20px);
  height: 40px; /* Height of the area to hide */
  background-color: #fff; /* Match the background color of the editor */
  z-index: 2; /* Ensure it's above the content */
}

.rt-content p {
  margin: 0;
}

.rt-content h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
}

.rt-content h1 {
  font-size: xx-large;
}

.rt-content h2 {
  font-size: x-large;
}

.rt-content h3 {
  font-size: large;
}

.rt-button[disabled] {
  background: #fafafa;
  color: #a0a0a0;
  border-color: #d0d0d0;
  cursor: not-allowed;
}

.rt-content:focus {
  border-color: rgb(40, 127, 226);
}

.rt-icon {
  vertical-align: middle;
  padding-bottom: 3px;
  width: 16px;
  height: 16px;
}

.rt-button:has(.rt-icon) {
  margin-left: 2px;
}

.rt-yellowHighlight {
  display: inline;
  background-color: yellow;
}

.rt-headerPopover {
  position: relative;
  display: flex;
  top: 34%;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  width: fit-content;
  background-color: #fff;
}

.rt-linkPopover {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 5px;
  top: 34%;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  width: fit-content;
  background-color: #fff;
}

.rt-input {
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  outline: none;
}

.rt-input:focus {
  border-color: rgb(40, 127, 226);
}
